---
import heroImage from '@assets/images/mypic.png';
import IconList from '@components/ui/IconList.astro';
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
---

<section
	data-testid="hero"
	id="hero"
	class="hidden-section flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="text-3xl font-bold leading-none text-black dark:text-tan lg:text-6xl">
				Hi! My name is <span class="text-orange">Piolo Arrabis</span> and I am a
				<span class="text-orange">Frontend Web Developer</span>.
			</h1>
		</div>
		<a
			href="./src/assets/images/Arrabis_Resume.pdf"
			target="_blank"
			class="my-6 flex items-center justify-center self-center rounded-lg border border-solid bg-orange p-2 px-5 py-3 font-bold text-black shadow-3xl transition-colors duration-300 hover:bg-[#f77e4d] hover:text-white dark:border-black dark:bg-orange dark:text-dkblue dark:hover:bg-[#f77e4d]"
		>
			Download Resume <Icon class="ml-2 h-7 animate-bounce" name="lucide:download" />
		</a>

		<div class="justfy-center flex items-center">
			<p class="mr-14 border-r-2 border-gray-500 pr-14 text-black dark:text-tan">Tech Stack</p>
			<ul class="flex flex-wrap gap-3">
				<IconList />
			</ul>
		</div>
	</div>
	<div data-testid="hero-img" class="hero mb-10 flex w-1/2 items-center justify-center rounded-l">
		<Image
			src={heroImage}
			alt="hero-img"
			aspectRatio="4:4"
			format="png"
			width={400}
			height={400}
			loading="eager"
			class="rounded-3xl shadow-3xl"
		/>
	</div>
</section>

<style>
	.hidden-section {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100%);
		transition: all 2s;
	}
	.show {
		opacity: 1;
		filter: blur(0px);
		transform: translateX(0%);
	}
</style>
